<div class='background-image vh-100'>
  <div class="container d-flex align-items-center flex-column py-5 form-container">
    <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>

      <% if params[:artist] %>
        <%= f.input :band_name,
                    required: true,
                    autofocus: true%>
        <%= f.input :band_description,
                    required: true,
                    autofocus: true%>
        <%# remember to add to views/registrations/new.html.erb after logins pr %>
      <% end %>
        <%= f.input :photo, as: :file %>


      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>
