
<div class='background-image-users-edit vh-100'>
  <div class="container d-flex align-items-center flex-column py-5 form-container">
    <h2>Edit Your Profile</h2>
  <%= simple_form_for(@user, url: user_path, method: :patch) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  label: 'Email',
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :band_description,
                  Label: 'Bio',
                  autofocus: true%>
      <% if @user.youtube_playlist != nil %>
        <%= f.input :youtube_playlist,
                    label: 'Youtube Playlist',
                    autofocus: true%>
      <% end %>
      <% if @user.soundcloud_playlist != nil %>
        <%= f.input :soundcloud_playlist,
                    label: 'Soundcloud Playlist',
                    autofocus: true%>
      <% end %>
      <%= f.input :photo, label: 'Profile Picture', as: :file %>
      <%= f.input :password,
                  label: 'Password',
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: 'Password Confirmation',
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Update", class: 'btn-small' %>
    </div>
  <% end %>
  </div>
</div>
