
<% if @user.photo.attached? %>
  <div class="banner pt-5 pl-5 mb-3 d-flex align-items-end justify-content-between" style="background-size: cover; background-position: center; background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,1) 110%), url(<%= cl_image_path @user.photo.key, height: 1000, width: 1000, crop: :fill %>)">
<% else %>
  <div class="banner pt-5 pl-5 mb-3 d-flex align-items-end justify-content-between" style="background-size: cover; background-position: center; background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,1) 110%), url('https://images.unsplash.com/photo-1542567455-cd733f23fbb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80')">
<% end %>
  <div class='container'>
    <h1><%= @user.band_name %> </h1>
  </div>
  <div class="py-2 px-3">
    <% if @user == current_user %>
      <%= link_to edit_user_path(@user) do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container d-flex flex-row justify-content-between">
  <div class="about col-6 px-3 py-2">
  <h2>About</h2>
    <p><%= @user.band_description %></p>
  </div>
  <div class="col-6 pr-0">
    <% if @user.youtube_playlist %>
      <div class='mb-2'>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=<%= @user.youtube_playlist %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <% else %>
      <div class="d-flex align-items-center justify-content-center placeholder-icon-container mb-2">
        <div>
        <%= link_to edit_user_path(@user) do %>
          <i class="fab fa-youtube"></i>
        <% end %>
        </div>
      </div>
    <% end %>

  <div>
    <% if @user.soundcloud_playlist %>
        <div>
          <iframe width="100%" height="315" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/<%= @user.soundcloud_playlist %>&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></iframe>
          </div>
        </div>
        <% else %>
        <div class="d-flex align-items-center justify-content-center placeholder-icon-container">
          <div>
          <%= link_to edit_user_path(@user) do %>
            <i class="fab fa-soundcloud"></i>
          <% end %>
          </div>
        </div>
        <% end %>
    </div>
    </div>
</div>

<div class='container mt-2'>
  <div class='tours-profile'>
  <h4 class='p-4'>Tours</h4>
    <div class="col-12 tour card-container card-container-index pt-3">
      <% @user.tours.each do |tour| %>
      <%= link_to tour_path(tour) do %>
      <div class="card-product col-12" id="tour<%=tour.id%>">
      <%# <% if tour.photo.attached? %>
        <%# <%= cl_image_tag tour.photo.key, height: 150, width: 150, crop: :fill, class: 'tour_card_image' %>
      <%# <% else %>
        <div class='tour-poster-placeholder'></div>
      <%# <% end %>
          <div class="card-product-infos col-9">
            <div class='d-flex justify-content-between pb-2 pr-1'>
              <h2>
                <%= tour.name %>
              </h2>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
