<div class='background-image vh-100'>
  <div class="container d-flex align-items-center justify-content-center py-5 form-container">
    <div>
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>

          <% if params[:artist] %>
            <%= f.input :band_name,
                        required: true,
                        autofocus: true%>
            <%= f.input :band_description,
                        required: true,
                        autofocus: true%>
            <%= f.hidden_field :is_band, value: true %>
            <%= f.input :photo, as: :file %>
          <% else %>
          <%= f.hidden_field :is_band, value: false %>
          <% end %>


          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions d-flex justify-content-center mb-3">
          <%= f.button :submit, "Sign up" %>
        </div>
        <div class="form-actions d-flex container justify-content-center">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
