<div class='container col-12 background-image-tours-edit'>
  <div class="container d-flex flex-column align-items-center justify-content-center py-5 form-container">
    <div>
      <h1>Edit <%= @tour.name %></h1>
    </div>
    <div>
      <%= simple_form_for @tour do |f| %>
        <%= f.input :name , class: 'form-control' %>
        <%= f.input :photo, as: :file, label: 'Upload a tour poster:' %>
        <%= f.button :submit , class: 'form-control' %>
      <% end %>
    </div>
  </div>
</div>
