<div class='col-12 d-flex flex-row container background-image-tours pt-5'>

  <div class="col-4 venue card-container mt-3 pl-0">
    <div class="d-flex justify-content-between align-items-center text-align-center">
      <h1 style='color: white'><%= @tour.name %></h1>

        <%= link_to "Search Venues", venues_path, class: "btn btn-small btn-small__padding" %>

    </div>
    <div class="col-12 venue card-container mt-3 pl-0 card-container-small venue-card-tours">
      <% @tour.bookings.each do |booking| %>
        <%= link_to venue_path(booking.venue) do %>
          <% @booking_status = booking.accepted.nil? ? 'pending' : booking.accepted.to_s %>
          <div class="card-product col-12 card_status__<%= @booking_status %>" id="venue<%=booking.venue.id%>">
            <% if booking.venue.photos.attached? %>
              <%= cl_image_tag booking.venue.photos.first.key, height: 150, width: 150, crop: :fill, class: 'venue_card_image' %>
            <%  end %>
            <div class="card-product-infos col-9">
            <div class='d-flex justify-content-between pb-2'>
              <h2>
                <%= booking.venue.name %>
              </h2>
              <div>
                <span class="venue">
                  <i class="fas fa-users"></i>
                  <%= booking.venue.capacity %>
                </span>
              </div>
            </div>
            <span>Booking date: <%= booking.dates[0].to_s.split(' ')[0] %><span>
              <% if booking.accepted %>
                <p><%= booking.venue.name %> <span class="booking_status">Booking Status: Accepted</span></p>
              <% elsif booking.accepted == false %>
                <p><%= booking.venue.name %> <span class="booking_status">Booking Status: Declined</span></p>
              <% else %>
                <p><%= booking.venue.name %> <span class="booking_status">Booking Status: Pending</span></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="venue_calendar__container calendar_container w-100 mt-2">
      <%= month_calendar do |day| %>
        <%= content_tag :div, class: "calendar-day" do %>
          <% if @dates_booked.include? day.to_s %>
            <span class="booked_date" data-controller="calendar" data-calendar-target="date_booked"><%= Date.parse(day.to_s).strftime("%d") %></span>
          <% else %>
            <span><%= Date.parse(day.to_s).strftime("%d") %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-8 mt-3" id="map" style="height: 90vh; width: 100%" id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-marker-img="<%= asset_path('logo/whitelogo.png') %>">
  </div>
</div>
