<div class="tour-info">
<h1 class="title"><%= @tour.name %></h1>
<% @tour.bookings.each do |booking| %>
<h2 class="venue_info"><%= booking.venue.name %></h2>
<p class="address"><%= booking.venue.address %></p>
<p class="date"><%= booking.dates.to_s %></p>
<% end %>
<%= link_to "Add Venue", venues_path, class: "venue-show-btn"%>
</div>

<div id="map"
     style="height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
