<div class="d-flex text-center">
  <div id='navbar-homepage'><%= render 'shared/navbar' %></div>
  <% if current_user %>
    <%= link_to venues_path, class: 'homepage-link' do %>
      <div class = "artist-container d-flex justify-content-center align-items-center bg-bottom-cover">
        <h1>Artist</h1>
    </div>
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path(artist: true), class: 'homepage-link' do %>
      <div class = "artist-container d-flex justify-content-center align-items-center bg-bottom-cover">
        <h1>Artist</h1>
      </div>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= link_to new_venue_path, class: 'homepage-link' do %>
    <div class="venue-container d-flex justify-content-center align-items-center bg-bottom-cover">
      <h1>Venue</h1>
    </div>
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path, class: 'homepage-link' do %>
    <div class="venue-container d-flex justify-content-center align-items-center bg-bottom-cover">
      <h1>Venue</h1>
    </div>
    <% end %>
  <% end %>
</div>
