<div class="venue-info">
  <div>
    <%= cl_image_tag venue.photos.first.key, height: 100, width: 100, crop: :fill %>
  </div>
  <div class="venue-text">
    <h5><%= venue.name %></h5>
    <p>Capacity: <%= venue.capacity %></p> <p><%= venue.address %></p>
  </div>
</div>
<div class="button-container"><%= link_to "About #{venue.name}", venue_path(venue), class: "venue-show-btn"%></div>
