<div class='col-12 d-flex flex-row container'>
  <div class="col-4 venue card-container card-container-index pt-3 mt-5 pl-0">
    <% @venues.each do |venue| %>
      <%= link_to venue_path(venue) do %>
        <div class="card-product col-12" id="venue<%=venue.id%>">
        <% if venue.photos.attached? %>
          <%= cl_image_tag venue.photos.first.key, height: 150, width: 150, crop: :fill, class: 'venue_card_image' %>
        <% end %>
          <div class="card-product-infos col-9">
          <div class='d-flex justify-content-between pb-2 pr-1'>
            <h2>
              <%= venue.name %>
            </h2>
            <div>
              <i class="fas fa-users"></i>
              <%= venue.capacity %>
            </div>
          </div>
            <div class='pr-2'>
              <span class="venue">
                <%= venue.description.truncate(100) %>
              </span>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
  <div class="col-8 mt-5" id="map" style="height: 90vh; width: 100%" data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
