<div class='background-image-venues-show'>
<div class='show-background'></div>
<div class="container-fluid text-white d-flex flex-direction-row venue_container pt-5">
  <div class="row w-100 m-0">
    <div class="col-4">
      <div class="d-flex flex-column m-0">
        <div class="venue_info venue_info__small d-flex flex-column">
          <h1 class="text-center"><%= @venue.name %></h1>
          <h3>About Venue:</h3>
          <div class="capacity_container d-flex flex-direction-row">
            <div>
              <i class="fas fa-users"></i>
            </div>
            <span class="pl-3 pb-2">
              <%= @venue.capacity %>
            </span>
          </div>
          <span class="description pb-2"><%= @venue.description %></span>
        </div>
        <div class="venue_calendar_container">
          <div class="calendar_container p-3 w-100 h-100" data-controller="calendar" data-calendar-available_dates="<%= @available_dates %>">
            <%= month_calendar do |day| %>
              <%= content_tag :div, class: "calendar-day", data: {date: day} do %>
                <% if @available_dates.include? day.to_s %>
                  <%= link_to Date.parse(day.to_s).strftime("%d"),'',remote: true,:'data-date' => day, data: { controller: 'calendar',calendar_target: "date", action: 'click->calendar#append' } %>
                <% else %>
                  <span class="calendar__date">
                    <%= Date.parse(day.to_s).strftime("%d") %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
            <%= simple_form_for [@venue, @booking]  do |f| %>
              <%= f.input :dates, default: [], multiple: true, as: :hidden, html5: true %>
              <%= f.input :tour_id, label: 'Select Tour', collection: Tour.where(user: current_user), include_blank: false, selected: Tour.first %>
              <div class="venue_calendar__submit-container">
                <%= f.button :submit, "Request Booking", class: 'btn' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="my-3">
      <%= link_to 'Back', :back, class: 'btn-back' %>
      </div>

    </div>
    <div class="col-8">
      <div class="ml-2 venue_gallery">
        <% @venue.photos.first(4).each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
