<div class="container d-flex flex-direction-row venue_container mt-4">
  <div class="row col-5 d-flex flex-column m-0">
    <div class="row venue_info ml-1 h-50 d-flex flex-column">
      <h1 class="text-center"><%= @venue.name %></h1>
      <h3>About Venue:</h3>
      <div class="capacity_container d-flex flex-direction-row">
        <p>Capacity: </p>
        <span class="pl-3"><%= @venue.capacity %></span>
      </div>
      <p class="flex-grow-1 d-flex"><%= @venue.description %></p>
    </div>
    <div class="row venue_calendar_container h-50">
      <div class="calendar_container w-100 h-100" data-controller="calendar" data-calendar-available_dates="<%= @available_dates %>">
        <%= month_calendar do |day| %>
          <%= content_tag :div, class: "calendar-day", data: {date: day} do %>
            <% if @available_dates.include? day.to_s %>
              <%= link_to Date.parse(day.to_s).strftime("%d"),'',remote: true,:'data-date' => day, data: { controller: 'calendar',calendar_target: "date", action: 'click->calendar#append' } %>
            <% else %>
                <%= Date.parse(day.to_s).strftime("%d") %>
            <% end %>
          <% end %>
        <% end %>
        <%= simple_form_for [@venue, @booking]  do |f| %>
          <%= f.input :dates, default: [], multiple: true, as: :hidden, html5: true %>
          <%= f.input :tour_id, collection: Tour.where(user: current_user) %>
          <%= f.button :submit %>
        <% end %>
      </div>
  </div>
</div>
  <div class="row col-7 ml-2">
    <div class="venue_gallery">
      <% @venue.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
      <% end %>
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
      <img src="https://via.placeholder.com/150C/Ohttps://placeholder.com/" alt="">
    </div>
  </div>
</div>
