<!DOCTYPE html>
<html>
  <head>
    <title>theGreenRoom</title>
    <%= favicon_link_tag asset_path('logo/whitelogo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless params[:controller] == 'pages' || (request.env['PATH_INFO'] == '/users/sign_up') || (request.env['PATH_INFO'] == '/users/sign_in') || (request.env['PATH_INFO'] == '/venues/new')%>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
